@import "../../../../scss/variables";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 15px;

  perfect-scrollbar {
    height: calc(100vh - 346px);
  }

  .m-title {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 23px;
      padding-right: 5px;
      line-height: 19px;
      position: relative;
      top: 1px;
    }
  }

  .events {
    margin-top: 30px;
    display: flex;
    align-items: center;
    height: 100%;

    .event {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      .message {
        font-size: 16px;
        padding-left: 15px;
        display: flex;
        align-items: center;

        .stall-number.red, .stall-number.green {
          color: $white;
          margin-left: 10px;
          border-radius: 50%;
          padding: 3px 7px;
          font-weight: 600;
          font-size: 12px;
        }

        .stall-number.red {
          background: $red-dark;
        }

        .stall-number.green {
          background: $green;
          color: $black;
        }

        .name {
          color: $red;
          padding-right: 10px;

          &.red {
            color: $red;
          }

          &.green {
            color: $green;
          }
        }
      }

      .time {
        padding-right: 15px;
      }
    }
  }
}
