<div class="m-title">
    <span [style.color]="((totalFreeStalls$ | async) > 4) ? 'green' : 'red'">{{(totalFreeStalls$ | async)}}</span>
    parked stalls left
</div>
<div class="events">
    <perfect-scrollbar>
        <ng-container *ngIf="parkingEvents$ | async">
            <ng-container *ngFor="let event of parkingEvents$ | async">
                <div class="event">
                    <div class="message">
                        <span class="name" [ngClass]="event.stall_status ? 'red' : 'green'">{{event.user_name}}</span><span [innerHTML]="event.stall_status ? '&nbsp;took&nbsp;' : '&nbsp;vacated&nbsp;'"></span> a parking place
                        <span class="stall-number"
                              [ngClass]="event.stall_status ? 'red' : 'green'">{{event.stall_id}}</span>
                    </div>
                    <div class="time">{{event.created_at | date: 'HH:mm'}}</div>
                </div>
            </ng-container>
        </ng-container>
    </perfect-scrollbar>
</div>
