@import '../variables';

.m-btn {
  display: inline-block;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  text-align: center;
  background: $green !important;
  transition: color 0.5s;
  cursor: pointer;

  &.red {
    background: $red!important;
  }
}
