<div class="col-6">
    <div class="parking-information">
        Your parking stall is:
        <ng-container *ngIf="(userCurrentStallNumber$ | async) === 0"><span class="not-chosen">You are not chosen parking stall</span>
        </ng-container>
        <ng-container *ngIf="(userCurrentStallNumber$ | async) > 0"><span
                class="chosen">{{userCurrentStallNumber$ | async}}</span></ng-container>
    </div>
    <div class="bitbucket">
        For cloning project use this link => <a
            href="https://bitbucket.org/Nazarito22/example-for-elitex.frontend/src/master/" target="_blank">Frontend</a>
        | <a
            href="https://bitbucket.org/Nazarito22/example-for-elitex.backend/src/master/" target="_blank">Backend</a>
    </div>
</div>
<div class="col-6">
    <div class="take-stall" *ngIf="isUserTakeStall$ | async">
        <form [formGroup]="takeStallForm" (ngSubmit)="takeStall(takeStallForm.value)">
            <mat-form-field>
                <mat-select placeholder="Choose parking stall" formControlName="stall_id">
                    <mat-option *ngFor="let stall of stalls$ | async" [value]="stall.id">
                        {{ stall.id }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button class="m-btn" type="submit" mat-raised-button>Take parking stall</button>
        </form>
    </div>
    <div class="release-stall" *ngIf="(isUserTakeStall$ | async) === false">
        <button class="m-btn red" (click)="releaseStall()" mat-raised-button>Release parking stall</button>
    </div>
</div>
