@import "../../../../scss/variables";

:host {
  display: flex;
  width: 100%;

  .bitbucket {
    a {
      color: $green;
    }
  }

  .parking-information {
    margin-bottom: 15px;

    .not-chosen {
      color: $red;
    }

    .chosen {
      color: $black;
      font-size: 20px;
      margin-left: 15px;
      background: $green;
      padding: 0 6px;
      border-radius: 50%;
    }
  }

  form {
    display: flex;
    align-items: center;

    button {
      min-width: auto;
      margin-left: 15px;
    }
  }

  .release-stall {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }
}
