<div class="m-title">Parking stalls</div>
<div class="parking-stalls" *ngIf="stalls$ | async">
    <ng-container *ngFor="let stall of (stalls$ | async)">
        <div class="stall" [style.backgroundColor]="stall.status ? '#e06767' : '#ccc'">
            <span>{{ stall.id }}</span>
        </div>
    </ng-container>
</div>
