:host {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
  width: 100%;
  padding-top: 15px;
  min-height: 165px;

  .parking-stalls {
    display: flex;
    margin-top: 30px;

    .stall {
      width: 25%;
      height: 70px;
      background: #00b34a;
      border-radius: 10px;
      margin-bottom: 15px;
      margin-right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      span {
        color: #202125;
        font-weight: 600;
        font-size: 15px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
