:host {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 100px);
  padding-top: 68px;

  .content {
    padding: 20px 15px;
    width: 100%;

    .title {
      padding-top: 0;
      font-size: 18px;
      text-align: center;
    }

    form {
      background: #111014;
      margin: 20px auto;
      padding: 20px;
      border-radius: 5px;
      max-width: 350px;
      width: 100%;

      @media (max-width: 767px) {
        max-width: 100%;
      }

      .form-group {
        position: relative;
      }

      .forgot-pass {
        position: absolute;
        right: 0;
        line-height: 3;
        font-size: 13px;
        color: #ccc;
        text-decoration: none;

        &:hover {
          color: #eee;
        }
      }

      label {
        color: #eee;
        padding: 10px 0;
      }

      button {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .sign-up-link {
        text-align: center;
        color: #eee;
        font-size: 14px;
        margin: 20px 0 5px;

        a {
          color: #ffa200;
          text-transform: none;

          &:hover, &:focus {
            color: #ffa200;
          }
        }
      }
    }
  }
}
