<div class="content">
    <div class="title">Sign In to Elitex Parking App</div>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit(signInForm.value)">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" id="email" formControlName="email" required>
            <mat-error *ngIf="f.email.hasError('required')">Email is required
            </mat-error>
            <mat-error *ngIf="f.email.hasError('email')">Email is not correct
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" id="password" formControlName="password" required>
            <mat-error *ngIf="f.password.hasError('required')">Password is required
            </mat-error>
        </mat-form-field>
        <div *ngIf="errorMessage">
            <div class="mat-error">
                {{errorMessage}}
            </div>
        </div>
        <button class="m-btn" type="submit" mat-raised-button>Sign In</button>
        <div class="sign-up-link">
            Don't have an account ? <a [routerLink]="'/signup'">Sign Up</a>
        </div>
    </form>
</div>
