<header>
    <div class="container">
        <span class="app-title">Special for Elitex</span>
        <div class="profile">
            <div class="avatar"></div>
            <div class="full-name" *ngIf="isAuthenticated$ | async" [matMenuTriggerFor]="appMenu">
                {{username$ | async}} <mat-icon>expand_more</mat-icon>
            </div>
            <mat-menu #appMenu="matMenu" xPosition="before">
                <ng-template matMenuContent>
                    <button mat-menu-item (click)="logout()">Logout</button>
                </ng-template>
            </mat-menu>
            <ul class="full-name"
                *ngIf="(isAuthenticated$ | async) === false">
                <li>
                    <a [routerLink]="'/login'">Sign In</a>
                </li>
                <li>
                    <a [routerLink]="'/signup'">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<router-outlet></router-outlet>

