@import '../scss/_variables.scss';

header {
  position: fixed;
  background: #18191f;
  max-height: 60px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .app-title {
      font-size: 16px;
      font-weight: 600;
      color: $green;
    }

    .full-name {
      display: flex;
      align-items: center;
      cursor: pointer;

      mat-icon {
        font-size: 20px;
        height: auto;
        width: auto;
        margin-left: 5px;
      }
    }

    ul {
      li {
        margin: 0 15px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
