<div class="container">
    <div class="left-side">
        <mat-card class="info-card">
            <app-parking-stall-events></app-parking-stall-events>
        </mat-card>
    </div>
    <div class="right-side">
        <mat-card>
            <app-parking-stalls></app-parking-stalls>
            <app-parking-chat></app-parking-chat>
        </mat-card>
    </div>
</div>
<div class="container">
    <div class="control-card">
        <mat-card>
            <app-parking-control-panel></app-parking-control-panel>
        </mat-card>
    </div>
</div>
