:host {
  padding-top: 75px;
  display: flex;
  flex-direction: column;

  .control-card {
    height: 100px;
    width: 100%;
    margin-top: 15px;
  }

  .info-card {
    height: calc(100vh - 205px);
    justify-content: flex-start;
  }

  .left-side, .right-side {
    width: 50%;
  }

  .left-side {
    padding-right: 7.5px;
  }

  .right-side {
    padding-left: 7.5px;

    mat-card {
      justify-content: flex-start;
    }

    .parking-places {
      height: 100%;
      margin-bottom: 15px;
    }
  }
}
