<div class="m-title">Real time chat</div>
<div class="" *ngIf="messageArray">
    <perfect-scrollbar class="chat" #perfectScroll>
        <div class="message-item" *ngFor="let message of messageArray">
            <div class="name">{{ message.user }} , <span class="message">{{ message.message }}</span>
            </div>
            <div class="date">{{ message.date | date: 'HH:mm' }}</div>
        </div>
    </perfect-scrollbar>
</div>
<form class="message-form" [formGroup]="messageForm" (ngSubmit)="onSubmit(messageForm.value)">
    <mat-form-field>
        <mat-label>Type your message</mat-label>
        <input matInput type="text" id="firstName" maxlength="20" formControlName="message">
        <mat-error *ngIf="f.message.hasError('maxLength')">Maximum length is 20 characters
        </mat-error>
    </mat-form-field>
    <button class="m-btn" type="submit" mat-raised-button>Send
    </button>
</form>
