:host {
  width: 100%;

  .m-title {
    margin-bottom: 15px;
  }

  perfect-scrollbar {
    height: calc(100vh - 508px);
  }

  .message-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .mat-form-field {
      width: 100%;
      margin-right: 15px;
    }
  }

  .message-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;

    .name {
      color: #e06767;
      font-weight: 600;
      padding-left: 15px;

      .message {
        padding-right: 50px;
        color: #ccc;
      }
    }

    .date {
      padding-right: 15px;
    }
  }
}
