<div class="content">
    <div class="title">Sign Up to Elitex Parking App</div>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm.value)">
        <mat-form-field>
            <mat-label>Display name</mat-label>
            <input matInput type="text" id="name" formControlName="name" autocomplete="false" required>
            <mat-error *ngIf="f.name.hasError('required')">Name is required
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" id="email" formControlName="email" autocomplete="false" required>
            <mat-error *ngIf="f.email.hasError('required')">Email is required
            </mat-error>
            <mat-error *ngIf="f.email.hasError('email')">Email is not correct
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" id="password" formControlName="password" autocomplete="new-password"
                   required>
            <mat-error *ngIf="f.password.hasError('required')">Password is required
            </mat-error>
        </mat-form-field>
        <button class="m-btn" type="submit" mat-raised-button>Sign Up</button>
    </form>
</div>
