@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import "scss/global";
@import "scss/grid";
@import "scss/scroll";
@import "scss/modules/m-buttons";
@import "scss/modules/m-titles";
//Angular Material custom theme
@import "~@angular/material/theming";

@include mat-core();
$angular-primary: mat-palette($mat-teal, 500, 100, 900);
$angular-accent: mat-palette($mat-pink, A200, A100, A400);
$angular-warn: mat-palette($mat-red);
$angular-default-theme: mat-light-theme(
                (
                        color: (
                                primary: $angular-primary,
                                accent: $angular-accent,
                                warn: $angular-warn,
                        ),
                )
);
@include angular-material-theme($angular-default-theme);
