@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import "variables";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: $font-size;
  font-weight: 400;
  background: #393d4e;
  color: #cccccc;
}

*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
  //-webkit-user-select: none;
  //-moz-user-select: none;
  //-ms-user-select: none;
  //user-select: none;
}

a {
  text-decoration: none;
  color: $white;
}

::-webkit-input-placeholder {
  color: #dddddd;
}

::-moz-placeholder {
  color: #dddddd;
}

:-ms-input-placeholder {
  color: #dddddd;
}

:-moz-placeholder {
  color: #dddddd;
}

mat-card {
  background: #1d212d !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: #ccc !important;
  min-height: 100%;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: $white !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: $white !important;
}

.mat-form-field {
  color: $white;
  width: 100%;
}

.mat-select-arrow {
  color: $white !important;
}

.mat-select-value {
  color: $white !important;
}

.mat-option {
  color: $white !important;
}

.mat-select-panel {
  background: $black !important;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: #2a2b2f !important;
}

.mat-menu-panel {
  margin-top: 20px !important;
  background: #1d212d !important;
  min-height: auto !important;
}

.mat-menu-item {
  color: $white !important;
}

.mat-menu-content:not(:empty) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #ccc;
  transition: background-color 5000s ease-in-out 0s;
}
