::ng-deep .ps .ps__rail-y:focus, ::ng-deep .ps .ps__rail-y:hover {
  background-color: #202125 !important;
  width: 10px;
  opacity: .9;
}

.ps:hover > .ps__rail-y, .ps:focus > .ps__rail-y {
  background-color: #202125 !important;
  width: 10px !important;
}

.ps__thumb-y {
  background-color: #00b34a !important;
  width: 5px !important;
}

perfect-scrollbar>.ps.ps--scrolling-x>.ps__rail-x, perfect-scrollbar>.ps.ps--scrolling-y>.ps__rail-y {
  background-color: transparent!important;
}
